.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
  
}
.menus button {
  border: none;
  background: none;
  margin: 5px;
}
.menus button:hover {
  background-color: gray;
}
.news-img-size {
  max-width: 100%;
  max-height: 250px;
}
.news {
  border-bottom: 2px solid black;
}

/* SideMenu */
.SideMenuAndSearch {
  margin: 20px 0;
  display: flex;
}
.menus-side {
  margin: 10px;
  display: flex;
}
.menu-icon {
  display: none;
}
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: lightyellow;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
}
.side-menu .menus button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}
.side-menu .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}
.side-menu .menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: none;
  border-bottom: none;
}
.side-menu .menus button:hover{
  background-color: lightpink;
  border-radius: 3px;
}

/* Search */
.search {
  display: flex;
}
.icon-button {
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
}
#input-area {
  display: none;
}
#search-input {
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.search-button {
  margin-left: 10px;
  border-radius: 5px;
}
.pagination {
  margin-top: 20px;
}

@media (min-width: 769px){
  .menu-icon {
    display: none;
   }
}

@media (max-width: 768px) {
  .menus {
    display: none;
  }
  .sidebar {
    display: flex;
    position: fixed;
    width: 50%;
  }
   .menu-icon {
    display: block;
   }
}

@media (max-width: 1010px) {
  .head-line {
    width: 100%;
    position: relative;
  }
}

  